<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/w4l.log" />
		<param name="append" value="true" />
		<param name="datePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] (%-9t %d) %m%n" />
		</layout>
	</appender>

	<appender name="REMOTE" class="org.apache.log4j.net.SocketAppender">
		<param name="remoteHost" value="localhost" />
		<param name="port" value="9999" />
		<param name="application" value="W4F" />
	</appender>

	<logger name="mb.ops" additivity="false">
		<level value="INFO" />
		<appender-ref ref="REMOTE" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.atmosphere" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE" />
	</logger>

	<root>
		<level value="ERROR" />
		<appender-ref ref="REMOTE" />
	</root>
</log4j:configuration>