<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- TEST -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] (%-9t %d) %m%n" />
		</layout>
	</appender>

	<appender name="RemoteTest" class="org.apache.log4j.net.SocketAppender">
		<param name="remoteHost" value="localhost" />
		<param name="port" value="9999" />
		<param name="application" value="test" />
	</appender>

	<appender name="RemoteW4L" class="org.apache.log4j.net.SocketAppender">
		<param name="remoteHost" value="localhost" />
		<param name="port" value="9999" />
		<param name="application" value="W4F" />
	</appender>

	<logger name="REMOTE" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RemoteTest" />
	</logger>

	<logger name="mb.ops" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RemoteW4L" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>